<link rel="stylesheet" href="/styles/newStyle.css">
<link rel="stylesheet" href="/styles/newStyle_moblie.css">

<script type="text/javascript">
    var path = [
        '../js/src/views/logs'
    ]

    require(path, function(callBack) {
        callBack.constructor();
    });
</script>


<%- partial('./partials/menu.ejs') %>


    <section class="page">

      <div class="block-topbar">
        <div class="topbar-title uns" id="title">LOGS</div>

        <div class="topbar-titleRight">
          <a class="topbar-btn uns" id="exportBtn">EXPORT</a>
        </div>


        <div class="clearfix"></div>
      </div>


      <div class="block">

        <div class="search-bar" id="search-bar">
          <div class="search_barBlock">
                <span class="searchFont">SEARCH :</span>
                <input name="search" type="text" value="" class="text"/>
                <span class="button" id="searchBtn"  data-type="searchLogs">
                    <i>Search</i>
                </span>
          </div>
        </div>

        <div class="data-filter">
               <div class="data-filter-item" id="filter-category">
                    <div class="data-filter-item-title">
                                CATEGORY:
                     </div>
                     <div class="data-filter-item-ctn">
                                 <a class="filter-order-item active" data-state="-3" data-type="category">
                                    ALL
                                 </a>
                                <a class="filter-order-item" data-state="0" data-type="category">
                                    SYSTEM
                                </a>
                                <a class="filter-order-item" data-state="1" data-type="category">
                                    MAIL
                               </a>
                    </div>
                    <div class="clearfix"></div>
                    <input type="hidden" id="categoryHidden" value="0" />
                </div>

                <div class="data-filter-item" id="filter-orderBy">

                      <div class="data-filter-item-title">
                             ORDER BY:
                      </div>
                      <div class="data-filter-item-ctn">
                            <a class="filter-order-item active" data-state="0" data-type="order">
                                MOST  RECENT
                            </a>
                            <a class="filter-order-item" data-state="1" data-type="order">
                               LEAST  RECENT
                            </a>
                      </div>

                      <div class="clearfix"></div>
                      <input type="hidden" id="orderByHidden" value="name" />

                </div>

       </div>

        <div class="block minigap"  id="page-bar">
          <div class="data-filter">
            <div class="data-filter-item" id="pageContainer">
              <div class="data-filter-item-title">
                PAGE:
              </div>
              <div class="data-filter-item-ctn" id="pageContent">
                  <%  for(var i=0; i<pageInfo.PageCount; i++){ %>
                       <% if(pageInfo.PageIndex == (i+1)){ %>
                            <a class="filter-page-item filter-page-item-1  active" data="<%= (i+1) %>"><%= (i+1) %></a>
                        <% }else{ %>
                            <a class="filter-page-item filter-page-item-1" data="<%= (i+1) %>"><%= (i+1) %></a>
                        <% } %>
                   <% } %>
              </div>
              <div class="clearfix"></div>
            </div>
            <input type="hidden" id="pageHidden" value="1"  data-type="searchLogs">
          </div>
        </div>


        <!--  日志列表 -->
        <div class="project-list-ctn" id="logsList">
          <table cellspacing="0" cellpadding="0" border="0" class="project-list"  width="100%">
            <tr class="head">
               <td class="user-item" width="10%">
                    ID
               </td>
               <td class="user-item" width="30%">ACTION</td>
               <td class="user-item" width="25%">IP</td>
               <td class="user-item" width="25%">CREATE  TIME</td>
               <td class="user-item"  width="10%"></td>
            </tr>

            <% logsList.forEach(function(item){%>

                    <tr data-id="<%= item.id %>">
                      <td class="user-item  logs-id" valign="middle"   width="10%"><%= item.id %></td>
                      <td class="user-item  logs-action" valign="middle"   width="30%"><%= item.action.Substring(20) %></td>
                      <td class="user-item  logs-ip" valign="middle"   width="25%" >
                            <%= item.ip.Substring(20) %>
                      </td>
                      <td class="user-item  logs-createTime" valign="middle"   width="25%">
                            <%= moment(item.createTime).format('MM/DD HH:mm:ss') %>
                      </td>
                      <td class="user-item  align-left" valign="middle"   width="10%">
                         <a class="btn-city btn-delete">Del</a>
                      </td>
                    </tr>

            <% }) %>
          </table>
        </div>



      </div>
   </div>


    </section>

    <section class="window alltrans" id="window-new-user">

      <div class="window-ctn">

        <div class="window-title"><span>Create New User</span></div>

        <div class="window-data-area">

          <div class="window-data-line">

            <div class="window-data-line-left">

              <div class="window-data-item-title">Username</div>
              <div class="window-data-item-des">Case sensitive</div>

            </div>

            <div class="window-data-line-right">

              <input type="text" name="new-user-username" id="new-user-username">

            </div>

          </div>

          <div class="window-data-line">

            <div class="window-data-line-left">

              <div class="window-data-item-title">Password</div>
              <div class="window-data-item-des">Case sensitive</div>

            </div>

            <div class="window-data-line-right">

              <input type="password" name="new-user-password" id="new-user-password">

            </div>

          </div>

          <div class="window-data-line">

            <div class="window-data-line-left">

              <div class="window-data-item-title">Re-password</div>
              <div class="window-data-item-des">Case sensitive</div>

            </div>

            <div class="window-data-line-right">

              <input type="password" name="new-user-repassword" id="new-user-repassword">

            </div>

          </div>

          <div class="window-data-line">

            <div class="window-data-line-left">

              <div class="window-data-item-title">User Type</div>
              <div class="window-data-item-des"></div>

            </div>

            <div class="window-data-line-right">

              <a class="window-data-radio radio-50" data="0">USER</a>
              <a class="window-data-radio radio-50" data="1">ADMINISTRATOR</a>
              <input class="hidden" type="text" name="new-user-level" id="new-user-level" value="0">

            </div>

          </div>

        </div>

        <div class="window-action-area">

          <a class="window-action-btn" id="btn-new-user-submit">Submit</a>
          <a class="window-action-btn" id="btn-new-user-cancel">Cancel</a>

        </div>

      </div>

    </section>

    <section class="window alltrans" id="window-reset-user">

      <div class="window-ctn">

        <div class="window-title" id="window-title-reset-user"><span>Reset Password</span></div>

        <div class="window-data-area">

          <div class="window-data-line">

            <div class="window-data-line-left">

              <div class="window-data-item-title">New Password</div>
              <div class="window-data-item-des">Case sensitive</div>

            </div>

            <div class="window-data-line-right">

              <input type="password" name="reset-user-password" id="reset-user-password">

            </div>

          </div>

          <div class="window-data-line">

            <div class="window-data-line-left">

              <div class="window-data-item-title">Re-password</div>
              <div class="window-data-item-des">Case sensitive</div>

            </div>

            <div class="window-data-line-right">

              <input type="password" name="reset-user-repassword" id="reset-user-repassword">

            </div>

          </div>

        </div>

        <div class="window-action-area">

          <a class="window-action-btn" id="btn-reset-user-submit">Submit</a>
          <a class="window-action-btn" id="btn-reset-user-cancel">Cancel</a>

        </div>

      </div>

    </section>

        <section id="tip-alert-layer" class="tip-layer alltrans">

      <div id="tip-alert" class="tip-board alltrans">

        <div id="tip-alert-text" class="tip-text"></div>

        <div class="tip-btnarea">

          <a id="tip-alert-btn" class="tip-btn">OK</a>

        </div>

      </div>

    </section>


    <section id="tip-confirm-layer" class="tip-layer alltrans">

      <div id="tip-confirm" class="tip-board alltrans">

        <div id="tip-confirm-text" class="tip-text"></div>

        <div class="tip-btnarea">

          <a id="tip-confirm-btn1" class="tip-btn alltrans">Yes</a>
          <a id="tip-confirm-btn2" class="tip-btn alltrans">Cancel</a>

        </div>

      </div>

    </section>

    <section id="tip-info-layer" class="tip-layer alltrans">

      <div id="tip-info" class="tip-board alltrans">

        <div id="tip-info-text" class="tip-text">Please Wait...</div>

      </div>

    </section>


